body {
  background-color: bisque;
}

#ava {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid;
  position: absolute;
  right: 20px;
  top: 20px;
}
#ten {
  margin-top: 30px;
  font-size: 25px;
}
#sdt {
  font-size: 25px;
}
.phint {
  width: 100%;
}
.nhau {
  width: 100%;
}
.hoa {
  width: 100%;
}
